Options MultiViews
AddLanguage fr_CH .fr_CH
AddLanguage zh .zh
AddLanguage ca .ca
AddLanguage pt .pt
AddLanguage da .da
AddLanguage st .st
AddLanguage bg .bg
AddLanguage de .de
AddLanguage es_CO .es_CO
AddLanguage sv .sv
AddLanguage ja .ja
AddLanguage es_PE .es_PE
AddLanguage zh_TW .zh_TW
AddLanguage he .he
AddLanguage fi .fi
AddLanguage nso .nso
AddLanguage eo .eo
AddLanguage es .es
AddLanguage mk .mk
AddLanguage ko .ko
AddLanguage eu .eu
AddLanguage en_US .en_US
AddLanguage fr_CA .fr_CA
AddLanguage en_GB .en_GB
AddLanguage hu .hu
AddLanguage ms .ms
AddLanguage es_CL .es_CL
AddLanguage it_CH .it_CH
AddLanguage af .af
AddLanguage pt_PT .pt_PT
AddLanguage es_AR .es_AR
AddLanguage zu .zu
AddLanguage gl .gl
AddLanguage de_CH .de_CH
AddLanguage en .en
AddLanguage en_CA .en_CA
AddLanguage fr_LU .fr_LU
AddLanguage fr .fr
AddLanguage hr .hr
AddLanguage nl .nl
AddLanguage es_MX .es_MX
AddLanguage pl .pl
AddLanguage it .it
AddLanguage de_AT .de_AT
AddLanguage kr .kr
AddLanguage sl .sl